@model RegisterViewModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@Localizer["Register"]</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">

                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">@Localizer["Create"]</h1>
                            </div>

                            <form class="user" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Login" type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="@Localizer["Login"]">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="FirstName" type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="@Localizer["FirstName"]">
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="LastName" type="text" class="form-control form-control-user" id="exampleLastName" placeholder="@Localizer["LastName"]">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="@Localizer["Email"]">
                                </div>
                                <div class="form-group">
                                    <input asp-for="City" type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="@Localizer["City"]">
                                </div>
                                <div class="form-group">
                                    <input asp-for="DateBirth" type="date" class="form-control form-control-user" id="exampleInputEmail" placeholder="@Localizer["DateBirth"]">
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="@Localizer["Password"]">
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="@Localizer["ConfirmPassword"]">
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["RegisterAccount"]</button>
                            </form>

                            <hr>
                            <div class="text-center">
                                <a asp-action="login" class="small">@Localizer["Account"]</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-none d-lg-block bg-password-image"></div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/js/sb-admin-2.js"></script>

</body>

</html>