@model CollectionItem

@{
    ViewData["Title"] = Model.NameCollection;
    if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Image = Model.Image;
}
@if (TempData["messageDelete"] != null)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>@TempData["messageDelete"]</strong>
    </div>
}
<h4>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <a asp-controller="admin" asp-action="ListCollection" class="fa fa-arrow-left"></a>
    }
    else
    {
        <a asp-controller="manage" asp-action="Index" class="fa fa-arrow-left"></a>
    }
    @Localizer["Info"] @Model.NameCollection
</h4>
<hr />
<form asp-action="EditCollection" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdCollection" />
    <div class="form-group d-block">
        <input asp-for="IdUser" type="hidden" />
    </div>
    <div class="form-group d-block">
        <label asp-for="NameCollection" class="control-label"></label>
        <input asp-for="NameCollection" class="form-control" />
        <span asp-validation-for="NameCollection" class="text-danger"></span>
    </div>
    <div class="form-group d-block">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group d-block">
        @Html.DropDownListFor(model => model.IdThema, ViewBag.Thema as SelectList, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input asp-for="Image" class="form-control" type="hidden" />
        <input type="file" name="uploadedFile" /><br>
        @if (Model.Image == null)
        {
            <div class="form-control-static">@Localizer["Image"]</div>
        }
        else
        {
            <img class="img-thumbnail img-fluid" width="650"
                 src="@Url.Content(Model.Image)" />
        }
    </div>

    <div class="form-group d-block">
        <input asp-route-Image="@Model.Image" type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<hr />
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray">@Localizer["List"]</h1>
    <a asp-action="CreateItem" asp-route-id="@Model.IdCollection" class="d-none btn d-inline btn-sm btn-primary shadow-sm">
        <i class="fas fa-plus fa-sm text-white-50"></i>@Localizer["Item"]
    </a>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Localizer["Name"]
                        </th>
                        <th>
                            @Localizer["Description"]
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Localizer["Name"]
                        </th>
                        <th>
                            @Localizer["Description"]
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameItem)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a asp-action="EditItem" asp-route-id="@item.IdItem" class="fa fa-edit">@Localizer["Edit"]</a>
                                <a asp-action="DeleteItem" asp-route-id="@item.IdItem" type="submit" class="fa fa-trash">@Localizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>