@model LikeViewModel
@{
    ViewData["Title"] = Model.NameItem;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@Localizer["Home"]</a></li>
        <li class="breadcrumb-item"><a asp-action="DetailsCollecton" asp-controller="Home" asp-route-id="@Model.IdCollectionItem">@Model.NameCollection</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.NameItem</li>
    </ol>
</nav>
<div>
    <main @*style="background: url('@Url.Content(Model.Image)')"*@>
        <div class="page-header pb-10">
            <div class="container-fluid">
                <div class="page-header-content">
                    <h1 class="page-header-title">
                        <span>@Model.NameItem</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="card">
                <div class="card-header"> @Localizer["Description"]</div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="card-footer text-right">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="nav-item dropdown no-arrow">
                        @if (Model.like)
                        {
                            <a asp-controller="Collection" asp-action="LikeDelete" asp-route-id="@Model.IdItem" class="btn btn-danger btn-circle" type="submit">
                                <i class="fas fa-heart"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Collection" asp-action="LikeUp" asp-route-id="@Model.IdItem" class="btn btn-info btn-circle" type="submit">
                                <i class="fas fa-heart"></i>
                            </a>
                        }
                    </div>
                }
            </div>
            <br />
        </div>
        <hr />
    </main>
</div>
<nav>
    <div class="text-right">
        <a asp-action="DetailsCollecton" asp-controller="Home" asp-route-id="@Model.IdCollectionItem">@Localizer["Back"]</a>
    </div>
</nav>