@model IEnumerable<CollectionItem>
@{
    ViewData["Title"] = "UserCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-5">
    <div class="card-body">
        <div class="d-md-flex">
            <div class="nav flex-column nav-pills mr-4 mb-3 mb-sm-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a asp-action="Index" asp-controller="Manage" asp-route-id="@ViewBag.Id" class="nav-link" aria-controls="v-pills-home">@Localizer["Home"]</a>
                <a asp-action="CreateCollection" asp-controller="Collection" class="nav-link" aria-controls="v-pills-home">@Localizer["Add"]</a>
                <a asp-action="EditUser" asp-controller="Manage" asp-route-id="@ViewBag.Id" class="nav-link" aria-controls="v-pills-home">@Localizer["Setting"]</a>
                <a asp-action="UserCollection" asp-controller="Collection" asp-route-id="@ViewBag.Id" class="nav-link active" aria-controls="v-pills-home">@Localizer["Collection"]</a>

            </div>
            <div class="tab-content container">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">@Localizer["List"]</h1>
                        <a asp-controller="collection" asp-action="CreateCollection" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i>@Localizer["Add"]
                        </a>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">@Localizer["Table"]</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>@Localizer["Name"]</td>
                                            <td>@Localizer["Description"]</td>
                                            <td>@Localizer["Thema"]</td>
                                            <td>@Localizer["Count"]</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td>Название</td>
                                            <td>Описание</td>
                                            <td>Тема</td>
                                            <td>Количество</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.NameCollection</td>
                                                <td>@item.Description</td>
                                                <td>@item.Themas.Name</td>
                                                <td>@item.Items.Count</td>
                                                <td>
                                                    <a asp-controller="Collection" asp-action="EditCollection" asp-route-id="@item.IdCollection" class="fa fa-edit">@Localizer["Edit"]</a>
                                                    <a asp-controller="Collection" asp-action="DeleteCollection" asp-route-id="@item.IdCollection" type="submit" class="fa fa-trash">@Localizer["Delete"]</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>