@model PersonalCollections.Models.CollectionItem

@{
    ViewData["Title"] = Model.NameCollection;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index">@Localizer["Home"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.NameCollection</li>
        </ol>
    </nav>
<div>
    <main style="background: url('@Url.Content(Model.Image)')">
        <div class="page-header pb-10">
            <div class="container-fluid">
                <div class="page-header-content">
                    <h1 class="page-header-title">
                        <span>@Model.NameCollection</span>
                    </h1>
                    <div class="page-header-subtitle">@Model.Themas.Name</div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="card">
                <div class="card-header"> @Localizer["Description"]</div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <div class="card-header">@Localizer["Theme"] </div>
                <div class="card-body">
                    <ul>
                        @foreach (var item in Model.Items)
                        {
                            <li><a asp-controller="Collection" asp-action="Item" asp-route-id="@item.IdItem">@item.NameItem</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr />

    </main>
</div>
<nav>
    <div class="text-right">
        <a asp-action="Index">@Localizer["Back"]</a>
    </div>
</nav>
