@model PersonalCollections.Models.CollectionItem

@{
    ViewData["Title"] = "DetailsCollecton";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <main style="background: url('@Url.Content(Model.Image)')">
        <div class="page-header pb-10">
            <div class="container-fluid">
                <div class="page-header-content">
                    <h1 class="page-header-title">
                        <span>@Model.NameCollection</span>
                    </h1>
                    <div class="page-header-subtitle">@Model.Themas.Name</div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-n10">
            <div class="card">
                <div class="card-header"> @Html.DisplayNameFor(model => model.Description)</div>
                <div class="card-body">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <div class="card-header"> Thema </div>
                <div class="card-body">
                    <ul>
                        @foreach (var item in Model.Items)
                        {
                            <li><a asp-controller="Collection" asp-action="Item" asp-route-id="@item.IdItem">@item.NameItem</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <hr />

    </main>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCollection">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
